/* App.css */

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
  font-family: 'Inter', sans-serif;
  background-color: #121212;
  height: 150vh;
  color: #ffffff;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #444;
}

.page-header .logo img {
  height: 50px;
}

.page-header h1 {
  font-size: 1.5rem;
  color: #ffffff;
  margin-left: 20px;
  flex-grow: 1;
}

.top-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  margin-bottom: 20px; /* Add some space between top and bottom sections */
}

.chain-token-selector,
.swap-interface {
  background: #1f1f1f;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.chain-token-selector {
  flex: 0.7; /* Adjust based on desired width */
  margin-right: 20px;
}

.swap-interface {
  flex: 1.3; /* Adjust based on desired width */
}

.order-list {
  width: 100%;
  max-width: 1200px;
  background: #1f1f1f;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.chain-token-selector h3,
.order-list h2,
.swap-interface h3 {
  font-size: 1.25rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.chain-token-selector select,
.swap-interface input[type="text"],
.swap-interface input[type="number"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 12px;
  background-color: #2d2d2d;
  color: #ffffff;
  font-size: 1rem;
}

.swap-interface .submit-btn {
  background: linear-gradient(135deg, #e52e71, #ff7f50);
  color: #ffffff;
  border: none;
  padding: 14px 24px;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s ease;
}

.swap-interface .submit-btn:hover {
  background: linear-gradient(135deg, #d22b66, #e06743);
}

.order-list .order-tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.order-list .orders {
  max-height: 500px;
  overflow-y: auto;
}

.order {
  padding: 16px;
  margin-bottom: 15px;
  border-radius: 12px;
  background: #292929;
  position: relative;
  transition: background 0.3s ease;
}

.order:hover {
  background: #3a3a3a;
}

.order.active {
  border-left: 4px solid #ff7f50;
}

.order.expired {
  border-left: 4px solid #ff0000;
  background: #3a3a3a;
}

.order-action-btn {
  background: linear-gradient(135deg, #e52e71, #ff7f50);
  color: #ffffff;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  right: 16px;
  bottom: 16px;
  transition: background 0.3s ease;
}

.order-action-btn:hover {
  background: linear-gradient(135deg, #d22b66, #e06743);
}

.tab-btn {
  background: linear-gradient(135deg, #e52e71, #ff7f50);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 5px;
  transition: background 0.3s ease;
}

.tab-btn:hover {
  background: linear-gradient(135deg, #d22b66, #e06743);
}

.tab-btn.active {
  background: linear-gradient(135deg, #e52e71, #ff7f50);
  box-shadow: 0 0 10px rgba(229, 46, 113, 0.5);
}

.tab-header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tab-button {
  background: #1f1f1f;
  color: #ffffff;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.tab-button.active {
  background: linear-gradient(135deg, #e52e71, #ff7f50);
}

.tab-button:hover {
  background: #292929;
}

.top-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.chain-token-selector,
.swap-interface {
  background: #1f1f1f;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.chain-token-selector {
  flex: 0.7; /* Adjust based on desired width */
  margin-right: 20px;
}

.swap-interface {
  flex: 1.3; /* Adjust based on desired width */
}

.order-list {
  width: 100%;
  max-width: 1200px;
  background: #1f1f1f;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}